
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color:#000000;
    color: white;
    font-family: "Poppins", sans-serif;

}

#navbar {
    line-height:3.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 48px;
    background-color: #000000;
    transition: background-color 0.3s ease;

}
nav ul li {
    display: inline-block;
    list-style: none;  
    margin: 0 30px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #D6DDE6;
    font-size: 24px;
}
.left{
    font-size:36px;
    color:#D6DDE6;
    margin-left:40px;
}

.right a:hover{
    color: rgb(86, 134, 218);
}

hr{
    border: 1px solid #393F45;;
    width: 100%;
}
#title{

    font-size:72px;
    color:#D6DDE6;
    text-align: center;
    margin:90px 0;
}
#img1{
    width: 1344px;
    height: 672px;
    border:1.5px;
    border-radius:36px ;
    margin: 25px 0;
    width: 90%;
    transition: transform 0.3s ease-in-out;
}
#img1:hover{
    cursor: pointer;
    transform: scale(1.01);
}


h3{
    color:#D6DDE6;
    font-size: 20px;
    font-weight: 500;
}

h2{
    margin-top:5px;
    font-size: 17px;
    color:#888F97;
    font-weight: 500;
}

#images{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 50px;
    padding: 0 10px;
    margin: 90px auto;
}
.image {
    
    overflow: hidden; 
    transition: transform 0.3s ease-in-out;
    
}
.image:hover{
    transform: scale(1.03) ;
    cursor: pointer;

} 
.image img {
    border: 1.5px;
    width: 100%;
    height: auto;
    margin-top:20px;

}
.footer{
    display: flex;
    justify-content: space-between;
    margin:250px 100px 50px 100px;

}
.left2{
    color:#888F97;
    font-size: 28px;
    font-weight: 500;
}
.right2:hover{
    cursor: pointer;
    color:#7e858e;
}
.right2{
    color: #D6DDE6;
    border:1.5px solid #313840;
    border-radius: 8px;
    font-size:20px;
    padding:12px 24px;
    font-weight: 600;
}
.bc1{
    width: Fill (1,344px)px;
    height: Hug (504px)px;
    padding: 96px 0px 96px 0px;
    gap: 0px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    display: inline-block;

}
.snwjindabad{
    width:672px;
    height:312px;
    font-weight: 500;
    size:48px;
    line-height: 52px;
    color:#FFFFFF;
    font-family: 'Red Hat Display';
}
.bb1{
    width: 672px;
    height: 312px;
    gap: 0px;
    opacity: 0px;

}


.digital{
    font-family: Red Hat Display;
    font-size: 35px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    margin-top: 180px;
    width: 750px;
    height: 312px;
}

.contact{
    width: Fill (1,344px)px;
height: Hug (700px)px;
min-height: 700px;
padding: 200px 0px 0px 0px;
gap: 48px;
opacity: 0px;
background-color:#000000;

}
.otp-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    padding-top: 30px;
}
.otp-container input {
    margin: 20px auto;
    width: 60px;
    height: 70px;
    text-align: center;
    background-color: #111920;
    border: 1.5px solid white;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    
}

button:hover {
    background-color: #421934;
    transform: translateY(-3px);
}

.otp-container input:hover {
    border-color: #ED5A5A;
    outline: none;
    box-shadow: 0 0 5px #ED5A5A;
    transition: color 0.3s ease;
}

button {
    background: #C11D1D;

    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500px;
    margin-bottom: 20px;
}
.inner{
    margin: auto;
    padding: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    width: 23vw;
    margin-bottom: 200px;
    margin-top: 200px;
}
.inner h{
    color: #421934;
    font-weight: 400;
    font-family: "Dela Gothic One";
    font-size: 28px;
    line-height: 34px;
}
a{
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    color: #ED5A5A;
    ;
}
.inner p{
    font-family:"sen" ;
}

